In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select   # seleccion de un dropdown
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver import ActionChains #para mover las barras
import asyncio as asy
from tqdm.notebook import tqdm
import numpy as np  #Numpy
import matplotlib.pyplot as plt #graficas
import mysql.connector as conn
from sqlalchemy import create_engine

In [2]:
df_1 = pd.read_csv('/Users/edgarahmed/Desktop/ironhack/semana_4/dia_5/w4-project_ETL/data/cancer-deaths-by-age.csv')


df_1

,Entity,Code,Year,Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number),Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number),Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,3346,5446,2078,278,431
1,Afghanistan,AFG,1991,3382,5493,2183,299,439
2,Afghanistan,AFG,1992,3427,5577,2386,341,486
3,Afghanistan,AFG,1993,3489,5679,2544,373,549
4,Afghanistan,AFG,1994,3554,5771,2615,385,589
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,3488,5164,2362,91,56
6836,Zimbabwe,ZWE,2016,3573,5272,2462,99,58
6837,Zimbabwe,ZWE,2017,3654,5379,2549,104,58
6838,Zimbabwe,ZWE,2018,3748,5490,2636,106,58
6839,Zimbabwe,ZWE,2019,3843,5622,2725,106,57

In [3]:
df_number = df_1.copy()

df_number

,Entity,Code,Year,Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number),Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number),Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,3346,5446,2078,278,431
1,Afghanistan,AFG,1991,3382,5493,2183,299,439
2,Afghanistan,AFG,1992,3427,5577,2386,341,486
3,Afghanistan,AFG,1993,3489,5679,2544,373,549
4,Afghanistan,AFG,1994,3554,5771,2615,385,589
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,3488,5164,2362,91,56
6836,Zimbabwe,ZWE,2016,3573,5272,2462,99,58
6837,Zimbabwe,ZWE,2017,3654,5379,2549,104,58
6838,Zimbabwe,ZWE,2018,3748,5490,2636,106,58
6839,Zimbabwe,ZWE,2019,3843,5622,2725,106,57

In [4]:
df_number.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)'],
      dtype='object')

In [5]:
new_col_name =['Country', 'Code', 'Year',
       'Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number)',
       'Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)']

In [6]:
df_number.columns = new_col_name

df_number

,Country,Code,Year,Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number),Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number),Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,3346,5446,2078,278,431
1,Afghanistan,AFG,1991,3382,5493,2183,299,439
2,Afghanistan,AFG,1992,3427,5577,2386,341,486
3,Afghanistan,AFG,1993,3489,5679,2544,373,549
4,Afghanistan,AFG,1994,3554,5771,2615,385,589
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,3488,5164,2362,91,56
6836,Zimbabwe,ZWE,2016,3573,5272,2462,99,58
6837,Zimbabwe,ZWE,2017,3654,5379,2549,104,58
6838,Zimbabwe,ZWE,2018,3748,5490,2636,106,58
6839,Zimbabwe,ZWE,2019,3843,5622,2725,106,57

In [7]:
df_number_4 = df_number[df_number['Code'].isin(['ESP', 'FRA', 'USA', 'GBR'])]

df_number_4

,Country,Code,Year,Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number),Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number),Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)
2100,France,FRA,1990,80168,56063,10857,308,201
2101,France,FRA,1991,81889,55355,11244,307,197
2102,France,FRA,1992,83640,54801,11617,302,188
2103,France,FRA,1993,85536,54440,11935,297,176
2104,France,FRA,1994,86439,53604,12164,291,162
...,...,...,...,...,...,...,...,...
6355,United States,USA,2015,409905,254045,35238,1139,614
6356,United States,USA,2016,416357,261476,35595,1154,615
6357,United States,USA,2017,425507,262967,35495,1150,600
6358,United States,USA,2018,445897,267786,35021,1136,580
6359,United States,USA,2019,465222,272620,34365,1121,566

In [8]:
df_number_4_sp = df_number_4[df_number_4['Code'].isin(['ESP'])]

df_number_4_sp

,Country,Code,Year,Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number),Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number),Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)
5610,Spain,ESP,1990,43534,32459,6633,311,125
5611,Spain,ESP,1991,44835,32945,6772,288,120
5612,Spain,ESP,1992,45801,32839,6842,264,116
5613,Spain,ESP,1993,47272,32719,6872,247,111
5614,Spain,ESP,1994,48640,32593,6917,234,104
5615,Spain,ESP,1995,50418,32657,6915,220,98
5616,Spain,ESP,1996,52030,32618,6792,208,94
5617,Spain,ESP,1997,53052,31728,6821,196,90
5618,Spain,ESP,1998,55033,31596,6765,191,86
5619,Spain,ESP,1999,56844,31738,6727,179,83
5620,Spain,ESP,2000,57117,30988,6684,172,83
5621,Spain,ESP,2001,58166,30617,6680,166,83
5622,Spain,ESP,2002,59789,30294,6737,163,86
5623,Spain,ESP,2003,61799,30279,6824,159,88
5624,Spain,ESP,2004,62916,30074,6787,150,88
5625,Spain,ESP,2005,64366,30178,6804,149,89
5626,Spain,ESP,2006,65429,30471,6809,152,89
5627,Spain,ESP,2007,67809,31018,6874,153,91
5628,Spain,ESP,2008,69729,31756,6868,150,91
5629,Spain,ESP,2009,70875,32658,6751,146,90
5630,Spain,ESP,2010,71669,33546,6587,147,88
5631,Spain,ESP,2011,74086,34069,6484,151,84
5632,Spain,ESP,2012,75612,34832,6345,153,81
5633,Spain,ESP,2013,75977,35216,6117,149,74
5634,Spain,ESP,2014,77369,35439,5901,148,72
5635,Spain,ESP,2015,79608,36078,5708,146,67
5636,Spain,ESP,2016,80308,36143,5494,140,66
5637,Spain,ESP,2017,80812,36593,5495,135,62
5638,Spain,ESP,2018,82402,36026,5637,141,59
5639,Spain,ESP,2019,84072,35911,5655,141,57

In [9]:
df_number_4_fr = df_number_4[df_number_4['Code'].isin(['FRA'])]

df_number_4_fr

,Country,Code,Year,Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number),Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number),Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)
2100,France,FRA,1990,80168,56063,10857,308,201
2101,France,FRA,1991,81889,55355,11244,307,197
2102,France,FRA,1992,83640,54801,11617,302,188
2103,France,FRA,1993,85536,54440,11935,297,176
2104,France,FRA,1994,86439,53604,12164,291,162
2105,France,FRA,1995,88349,53168,12333,278,149
2106,France,FRA,1996,90231,52849,12219,264,145
2107,France,FRA,1997,91105,52165,12188,258,143
2108,France,FRA,1998,93000,52858,12314,259,140
2109,France,FRA,1999,94443,52815,12174,256,139
2110,France,FRA,2000,95217,52441,11981,253,143
2111,France,FRA,2001,96920,52517,11840,252,145
2112,France,FRA,2002,99369,52814,11602,250,142
2113,France,FRA,2003,101221,53012,11287,238,140
2114,France,FRA,2004,100282,52124,10798,224,136
2115,France,FRA,2005,101619,52596,10522,218,131
2116,France,FRA,2006,102614,53078,10181,216,131
2117,France,FRA,2007,104446,53787,9892,212,130
2118,France,FRA,2008,107285,54777,9765,212,130
2119,France,FRA,2009,109515,56151,9667,215,128
2120,France,FRA,2010,110605,57238,9446,216,127
2121,France,FRA,2011,112120,58362,9218,211,124
2122,France,FRA,2012,114168,59397,8912,208,124
2123,France,FRA,2013,114986,60093,8664,212,125
2124,France,FRA,2014,115108,60392,8461,213,125
2125,France,FRA,2015,118359,61756,8319,213,126
2126,France,FRA,2016,118819,60772,7900,209,124
2127,France,FRA,2017,121941,61236,7850,203,117
2128,France,FRA,2018,125536,59774,7974,207,111
2129,France,FRA,2019,129722,59270,8007,206,107

In [10]:
df_number_4_usa = df_number_4[df_number_4['Code'].isin(['USA'])]

df_number_4_usa

,Country,Code,Year,Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number),Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number),Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)
6330,United States,USA,1990,289711,204842,42287,1420,880
6331,United States,USA,1991,296535,203146,42796,1410,873
6332,United States,USA,1992,304456,200696,43504,1402,861
6333,United States,USA,1993,316639,202395,44404,1414,845
6334,United States,USA,1994,324775,201300,45013,1418,815
6335,United States,USA,1995,333838,200589,45753,1414,777
6336,United States,USA,1996,338053,196988,46018,1396,747
6337,United States,USA,1997,341483,194553,45620,1383,733
6338,United States,USA,1998,347955,194007,44983,1358,714
6339,United States,USA,1999,355377,195323,44871,1340,707
6340,United States,USA,2000,359345,195953,45145,1334,711
6341,United States,USA,2001,361546,196967,45586,1325,707
6342,United States,USA,2002,363564,199763,45589,1329,705
6343,United States,USA,2003,363222,202337,45159,1321,706
6344,United States,USA,2004,360207,203104,44119,1301,701
6345,United States,USA,2005,363238,206975,43761,1271,696
6346,United States,USA,2006,365147,210291,43159,1224,695
6347,United States,USA,2007,367360,214624,42047,1209,700
6348,United States,USA,2008,373012,220992,41267,1180,695
6349,United States,USA,2009,375527,226373,40585,1166,680
6350,United States,USA,2010,378362,229098,39032,1140,658
6351,United States,USA,2011,385191,234469,38082,1131,643
6352,United States,USA,2012,389898,239705,36955,1128,632
6353,United States,USA,2013,396870,243706,36096,1135,622
6354,United States,USA,2014,403355,248579,35483,1128,612
6355,United States,USA,2015,409905,254045,35238,1139,614
6356,United States,USA,2016,416357,261476,35595,1154,615
6357,United States,USA,2017,425507,262967,35495,1150,600
6358,United States,USA,2018,445897,267786,35021,1136,580
6359,United States,USA,2019,465222,272620,34365,1121,566

In [11]:
df_number_4_uk = df_number_4[df_number_4['Code'].isin(['GBR'])]

df_number_4_uk

,Country,Code,Year,Deaths - Neoplasms - Sex: Both - Age: 70+ years (Number),Deaths - Neoplasms - Sex: Both - Age: 50-69 years (Number),Deaths - Neoplasms - Sex: Both - Age: 15-49 years (Number),Deaths - Neoplasms - Sex: Both - Age: 5-14 years (Number),Deaths - Neoplasms - Sex: Both - Age: Under 5 (Number)
6300,United Kingdom,GBR,1990,99978,59904,9391,309,188
6301,United Kingdom,GBR,1991,101395,58336,9402,310,182
6302,United Kingdom,GBR,1992,102949,56901,9423,302,172
6303,United Kingdom,GBR,1993,104535,56149,9440,298,163
6304,United Kingdom,GBR,1994,104473,54554,9383,292,157
6305,United Kingdom,GBR,1995,105552,53805,9406,288,151
6306,United Kingdom,GBR,1996,105735,52659,9323,283,148
6307,United Kingdom,GBR,1997,105752,51849,9005,284,144
6308,United Kingdom,GBR,1998,106740,51605,8775,282,141
6309,United Kingdom,GBR,1999,107807,51246,8581,276,139
6310,United Kingdom,GBR,2000,106954,50239,8420,268,133
6311,United Kingdom,GBR,2001,106833,49258,8357,264,127
6312,United Kingdom,GBR,2002,108159,49241,8299,259,124
6313,United Kingdom,GBR,2003,109073,49469,8230,251,123
6314,United Kingdom,GBR,2004,108405,49118,8122,239,121
6315,United Kingdom,GBR,2005,108342,48972,8086,235,121
6316,United Kingdom,GBR,2006,108977,49081,8167,239,125
6317,United Kingdom,GBR,2007,110417,49195,8192,233,127
6318,United Kingdom,GBR,2008,112036,49312,8225,222,127
6319,United Kingdom,GBR,2009,112282,48938,8108,216,126
6320,United Kingdom,GBR,2010,113411,48834,7961,208,124
6321,United Kingdom,GBR,2011,115610,48752,7789,199,123
6322,United Kingdom,GBR,2012,118641,49044,7633,199,121
6323,United Kingdom,GBR,2013,121378,49463,7607,198,117
6324,United Kingdom,GBR,2014,123151,49369,7584,194,113
6325,United Kingdom,GBR,2015,125958,49890,7575,187,110
6326,United Kingdom,GBR,2016,127365,50542,7597,184,108
6327,United Kingdom,GBR,2017,129688,50111,7531,184,106
6328,United Kingdom,GBR,2018,134657,50386,7432,192,104
6329,United Kingdom,GBR,2019,137728,50625,7351,193,102

## ImportaciÃ³n a SQL

In [39]:
import mysql.connector as conn
from sqlalchemy import create_engine

In [40]:
str_conn = 'mysql+pymysql://root:edgarahmed@localhost:3306/proyecto_cancer'


cursor = create_engine(str_conn)

In [41]:
df_number_4_sp.to_sql(name='cancer_deaths_by_age_sp', # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='append',  # reemplaza la tabla si existe
            index=False
           )

30

In [42]:
df_number_4_fr.to_sql(name='cancer_deaths_by_age_fr', # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='append',  # reemplaza la tabla si existe
            index=False
           )

30

In [43]:
df_number_4_uk.to_sql(name='cancer_deaths_by_age_uk', # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='append',  # reemplaza la tabla si existe
            index=False
           )

30

In [44]:
df_number_4_usa.to_sql(name='cancer_deaths_by_age_usa', # nombre de la tabla
            con=cursor,          # conexion al servidor
            if_exists='append',  # reemplaza la tabla si existe
            index=False
           )

30